<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>

<body>
    <a href="/">
        <div class="absolute top-2 text-black right-2 w-[5vw] h-[5vh] z-10">
            <h1>Home</h1>
        </div>
    </a>
    <div class="relative min-h-screen flex ">
        <div id="sidebar"
            class="absolute md:relative box-border  min-w-64 h-screen bg-gray-800 text-white p-4 transition-all duration-300 hidden md:block">
            <aside class="box-border w-54 shadow-xl">
                <div class="flex flex-col items-center mb-6">
                    <div
                        class="capitalize w-20 h-20 bg-purple-500 text-white rounded-full flex items-center justify-center text-2xl font-bold">
                        <%=user.name?.substring(0, 2)%>
                    </div>
                    <h2 class="text-lg font-bold mt-2">
                        <%=user.name%>
                    </h2>
                </div>
                <nav class="space-y-4">
                    <button class="flex items-center px-4 py-2 w-[80%] text-white hover:bg-gray-900 rounded-lg"
                        onclick="showSection(this,'myProfile')">🏠 My Profile</button>

                    <button class="flex items-center px-4 py-2 w-[80%] hover:bg-gray-900 rounded-lg"
                        onclick="showSection(this,'editProfile')">🖊️ Edit Profile</button>
                    <button class="flex items-center px-4 py-2 w-[80%] hover:bg-gray-900 rounded-lg"
                        onclick="showSection(this,'AllRecipe')">📦 My recipes</button>
                    <button class="flex items-center px-4 py-2 w-[80%] hover:bg-gray-900 rounded-lg"
                        onclick="showSection(this,'Favorite')">📦Favorite</button>

                    <a href="/logout" class="text-center">
                        <button
                            class="mt-4 flex text-center justify-center items-center px-4 py-2 w-[80%] bg-red-500 rounded-lg">
                            Logout ⏻
                        </button>
                    </a>
                </nav>
            </aside>
        </div>

        <!-- Toggle Button for Mobile -->
        <button id="toggleSidebar" class="md:hidden fixed top-4 left-4 bg-blue-500 text-white px-4 py-2 rounded z-50">
            <span id="menuIcon">
                <!-- Menu Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </span>

            <span id="closeIcon" class="hidden">
                <!-- Cross Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </span>
        </button>


        <div class="bg-gray-100 min-h-screen flex w-full">
            <!-- Main Content -->
            <main class="flex-1 p-8">
                <div id="myProfile" class="content">
                    <h1 class="text-2xl font-bold mb-4">Personal Information</h1>
                    <div class="flex flex-col bg-white shadow-lg rounded-xl p-6 md:grid grid-cols-2 gap-4">
                        <p><strong>FullName:</strong>
                            <%=user.name%>
                        </p>

                        <p><strong>Email:</strong>
                            <%=user.email%>
                        </p>

                        <!-- <p><strong>Date of Birth:</strong> Not Provided</p> -->
                    </div>
                    <h1 onclick="addVideo()"
                        class="cursor-pointer mt-6 text-lg font-semibold text-green-600 hover:text-green-800 transition-colors duration-200 bg-green-100 px-4 py-2 rounded-lg inline-block shadow-sm">
                        Add Recipe Video +
                    </h1>
                </div>

                <div id="editProfile" class="content hidden">

                    <h1 class="text-2xl font-bold mb-4">Personal Information</h1>
                    <!-- <div class=""> -->
                    <form class="bg-white shadow-lg rounded-xl p-6 flex flex-col gap-4 items-center"
                        action="/edit/<%=user._id%>" method="post">
                        <input class="px-5 py-2 border-2 outline-none rounded-lg" placeholder="fullname" type="text"
                            value="<%=user.name%>" name="name">

                        <input
                            class="px-5 bg-blue-500 text-black cursor-pointer py-2 md:w-[5vw]  text-center border-2 outline-none rounded-lg"
                            value="Save" type="submit">
                    </form>

                    <!-- <p><strong>Date of Birth:</strong> Not Provided</p> -->
                    <!-- </div> -->

                </div>

                <div id="AllRecipe" class="content hidden grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                    <% recipe.forEach(function(product) { %>

                        <div
                            class="bg-white shadow-lg rounded-xl overflow-hidden border w-[45vw] sm:w-[30vw] md:w-[17vw] box-border md:h-[58vh]">
                            <a href="/recipe/details/<%=product._id%>">

                                <% if (product.images && product.images.length> 0) { %>
                                    <img src="data:image/jpeg;base64,<%= product.images[0].toString('base64') %>"
                                        class="w-full h-40 sm:h-60 rounded-lg object-cover object-center" />
                                    <% } else { %>
                                        <p>No images available for this product.</p>
                                        <% } %>
                                            <div class="md:p-4 p-2">
                                                <h2 class=" capitalize font-bold text-lg text-nowrap">
                                                    <%=product.title%>
                                                </h2>
                                                <p
                                                    class="py-[1px] px-2 text-sm capitalize bg-zinc-100 rounded-xl inline-block">
                                                    <%=product.category%>
                                                </p>
                                                <p class="text-sm text-gray-500">By Padmavati Jewels</p>
                                                <div class="flex justify-around  flex-wrap items-center mt-3">

                                                    <span class="text-purple-200 text-md line-through">₹
                                                        <%=product.price%>
                                                    </span>


                                                </div>

                                            </div>

                            </a>
                            <div class="w-full h-[5vh] md:h-[3vw] flex justify-around gap-4 my-4">
                                <button onclick="deleteItem('<%= product._id %>')"
                                    class=" bg-red-500 text-white py-2 px-4 rounded">Delete
                                </button>
                                <button onclick="editItem('<%= product._id %>')"
                                    class="bg-blue-500 text-white py-2 px-4 rounded">Edit
                                </button>
                            </div>
                        </div>
                        <% }) %>

                </div>
                <div id="Favorite" class="content hidden grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                    <% Favorite.forEach(function(product) { %>

                        <div
                            class="bg-white shadow-lg rounded-xl overflow-hidden border w-[45vw] sm:w-[30vw] md:w-[17vw] box-border md:h-[58vh]">
                            <a href="/recipe/details/<%=product._id%>">

                                <% if (product.images && product.images.length> 0) { %>
                                    <img src="data:image/jpeg;base64,<%= product.images[0].toString('base64') %>"
                                        class="w-full h-40 sm:h-60 rounded-lg object-cover object-center" />
                                    <% } else { %>
                                        <p>No images available for this product.</p>
                                        <% } %>
                                            <div class="md:p-4 p-2">
                                                <h2 class=" capitalize font-bold text-lg text-nowrap">
                                                    <%=product.title%>
                                                </h2>
                                                <p
                                                    class="py-[1px] px-2 text-sm capitalize bg-zinc-100 rounded-xl inline-block">
                                                    <%=product.category%>
                                                </p>
                                                <p class="text-sm text-gray-500">By Padmavati Jewels</p>
                                                <div class="flex justify-around  flex-wrap items-center mt-3">

                                                    <span class="text-purple-200 text-md line-through">₹
                                                        <%=product.price%>
                                                    </span>


                                                </div>

                                            </div>

                            </a>
                            <div class="w-full h-[5vh] md:h-[3vw] flex justify-around gap-4 my-4">
                                <button onclick="removeFromFav(this,'<%= product._id %>')"
                                    class=" bg-red-500 text-white py-2 px-4 rounded">UnFav
                                </button>

                            </div>
                        </div>
                        <% }) %>

                </div>




            </main>
        </div>
    </div>
    <form id="addRecipeForm"
        class="hidden absolute top-[15vw] left-[30vw] bg-white shadow-lg rounded-lg p-6 w-96 space-y-4 border"
        action="/recipe/addVideo" method="POST" enctype="multipart/form-data">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Add New Recipe</h2>
            <p class="cursor-pointer text-gray-600 hover:text-red-500 text-xl font-bold bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center transition-colors duration-200 shadow-sm"
                onclick="closeForm()">✕</p>
        </div>

        <!-- Title -->
        <div>
            <label for="title" class="block text-sm font-medium text-gray-700 mb-1">Recipe Title</label>
            <input type="text" name="title" id="title" required
                class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500">
        </div>


        <!-- Video Upload -->
        <div>
            <label for="video" class="block text-sm font-medium text-gray-700 mb-1">Upload Recipe Video</label>
            <input type="file" name="video" id="video" accept="video/*" class="block w-full text-sm text-gray-600 file:mr-4 file:py-2 file:px-4
             file:rounded-full file:border-0
             file:text-sm file:font-semibold
             file:bg-green-100 file:text-green-700
             hover:file:bg-green-200">
        </div>

        <!-- Submit Button -->
        <button type="submit" onclick="closeForm()"
            class="w-full bg-green-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-1">
            Submit Recipe
        </button>
    </form>


    <script>
        let activeButton = null; // Currently active button ko track karega

        function showSection(button, sectionId) {
            // Hide all sections
            document.querySelectorAll('.content').forEach(el => el.classList.add('hidden'));
            document.getElementById(sectionId).classList.remove('hidden');

            // Purane active button ka style hatao
            if (activeButton) {
                activeButton.classList.remove('bg-purple-500', 'text-white');
                activeButton.classList.add('hover:bg-gray-900');
            }

            // Naya active button set karo
            button.classList.add('bg-purple-500', 'text-white');
            button.classList.remove('hover:bg-gray-900');
            activeButton = button; // Update current active button
        }
        const sidebar = document.getElementById('sidebar');
        const toggleBtn = document.getElementById('toggleSidebar');
        const menuIcon = document.getElementById('menuIcon');
        const closeIcon = document.getElementById('closeIcon');

        // Sidebar toggle only for mobile
        toggleBtn.addEventListener('click', () => {
            sidebar.classList.toggle('hidden');
            if (sidebar.classList.contains('hidden')) {
                menuIcon.classList.remove('hidden');
                closeIcon.classList.add('hidden');
            } else {
                menuIcon.classList.add('hidden');
                closeIcon.classList.remove('hidden');
            }
        });

        //delete and edit recepie
        function deleteItem(id) {
            fetch('/recipe/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ recipeId: id }),
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.reload();
                    }
                });

        }
        function editItem(Id) {
            if (Id) {
                window.location.href = `/recipe/edit-product/${Id}`;
            }
        }
        function addVideo() {
            const form = document.getElementById('addRecipeForm');
            form.classList.remove('hidden');
            form.scrollIntoView({ behavior: 'smooth' });

        }
        function closeForm() {
            const form = document.getElementById('addRecipeForm');
            form.classList.add('hidden');
        }

        //remove from favorite

        async function removeFromFav(element, Id) {
            let res = await fetch('/user/addFav', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ Id })
            })
            console.log(element)
            res = await res.json();
            window.location.href = '/profile'


        }



    </script>
</body>

</html>